* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
  --var-font-color-white: #fff;
  --var-font-color-400: #121214;
  --var-font-color-700: #202024;
  --var-bc-color-0: #ffffff;
  --var-bc-color: #065E7C;
  --var-bc-color-input: rgba(255, 255, 255, 0.2);
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

#app {
  display: grid;

  height: 100vh;
}

.container {
  padding: 1.2rem 2.8rem;
  width: min(43.4rem, 100%);
}

/* cabeçalho */

header {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  background-color: var(--var-bc-color);

  padding: 1.2rem 2.8rem;
  height: 7.2rem;
}

.logo {
  background: var(--var-bc-color-0);
  width: 4rem;
  height: 4rem;
  
  border-radius: 50%;
  padding: 0.8rem;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 50%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  border: none;
  background-color: var(--var-bc-color-input);

  width: 24.1rem;

  border-radius: 0.4rem;
  padding: 1.2rem 1.6rem;
}

.input-wrapper input::placeholder {
  color: white;
}

/* footer */

footer {
  background-color: var(--var-bc-color);
  width: 43.0rem;
  height: 6.4rem;
}

footer p {
  color: var(--var-font-color-white);
  text-align: center;
  
  padding: 1.6rem;
}

/* main */

.gato01 {
  width: 43.4rem;
  height: 21.9rem;
  margin-top: -1.2rem;
}

.titulo h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
  
  color: var(--var-font-color-700);
  
  padding-top: 3.1rem;
  padding-bottom: .8rem;
}

.titulo i {
  background-color: #065e7c;
  width: 4rem;
  height: 4rem;

  padding: 1.2rem;
  border-radius: 50%;
}

.titulo i img {
  width: 2rem;
  height: 2rem;
}

p {
  color: var(--var-font-color-400);
  line-height: 160%;
  
  padding: 3.1rem 2.2rem 3.4rem 2.6rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--var-font-color-700);

  padding: 3.4rem auto;
}

.gallery {
  padding-top: 3.2rem;
}
