* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
}

body,
header,
aside  {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

#app {
  display: grid;
  
  height: 100vh;
}

.container {
  padding: 1.2rem 2.8rem;
  width: min(194.5rem, 100%);
}

/* cabeçalho */

header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  
  
  background-color: rgba(56, 126, 150, 1);

  padding: 1.2rem 2.8rem;
  height: 7.2rem;

}

.logo {
  background: white;
  border-radius: 50%;
  width: 4.0rem;
  height: 4.0rem;

  padding: .8rem;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 50%;
}



.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  border: none;
  background-color: rgba(255, 255, 255, 0.20);

  width: 24.1rem;

  border-radius: .4rem;
  padding: 1.2rem 1.6rem;
}

.input-wrapper input::placeholder {
  color: white;
}

/* main */

.gato01 {
  padding: 0;
  width: 43.4rem;
  height: 21.9rem;
}

.titulo h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
  padding: 3.1rem 6.6rem 3.1rem 2.2rem;
}

.titulo i {
  
  background-color: #065E7C;
  width: 4.0rem;
  height: 4.0rem;

  
  padding: 1.2rem;
  border-radius: 50%;
  
}

.titulo i img {
  width: 2.0rem;
  height: 2.0rem;
}